
.card-title{text-align: center;
    line-height: 1em;
    font-size: 100%;
    font-family: 'Helv Thin',Helvetica,Arial,Lucida,sans-serif;
    font-size: 1.2em;
    position: relative;
    left: 50%;
margin-top: 15%;}
.Header__Card{text-align: center;
    width: 50%;
position: relative;top: 15%;
margin-right: 50%;}
.card-text{left: 50%;
position: relative;}