button{
    text-align: center;
    position: absolute;
    top: 47%;
    right: 50%;
}
button{  background-color: #14caea; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}
    h1{

        margin: 4px 2px; 
        text-align: center;
        position: absolute;
        top: 40%;
        right: 35%;
       
    
        color: white;
    }



    @media only screen and (max-width: 600px) {
        h1 {
            top: 30%;
        right: 0%;

        }
    button{
        top: 45%;
        right: 40%;
    }}
    @media only screen and (max-width: 60px) {
        h1 {
            top: 30%;
        right: 0%;

        }
    button{
        top: 45%;
        right: 40%;
    }}

    // @media only screen and (min-width: 1200px) {
    //     h1 {
    //         top: 30%;
    //     right: 15%;

    //     }
    // button{
    //     top: 35%;
    //     right: 43%;
    // }}